.text:hover{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.text{
    color: lightgray;
}

.resaltText{
    color: black;
}

#toggleButton{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}