<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 text-center">
                    <audio #Audio (ended)="audioTerminado()">
                        <source src="" type="audio/mpeg">
                        Tu navegador no soporta la reproducción de audio.
                    </audio>     
                    <button class="btn btn-secondary">previews</button>               
                    <button (click)="toggleAudio()" #toggleButton id="toggleButton" class="btn btn-primary"><i class="bi bi-test"></i>Play</button>
                    <button class="btn btn-secondary">next</button> 
                </div>
                <div class="col-md-12 text-center">
                    <audio #Audio (ended)="audioTerminado()">
                        <source src="" type="audio/mpeg">
                        Tu navegador no soporta la reproducción de audio.
                    </audio>                    
                    <button (click)="aumentarVelocidad()" class="btn btn-primary">Aumentar Velocidad</button>
                    <button (click)="disminuirVelocidad()" class="btn btn-primary">Disminuir Velocidad</button>
                </div>
                <div class="col-md-12" (mouseup)="getSelectedText($event)" #myText>
                    <div *ngFor="let item of textsArray" class="d-inline text">
                        <span (click)="jumpTrack(item['position'])" *ngIf="item.text != 'Space'; else noCumpleCondicion" id="track-{{item.position}}">{{ item["text"] }}</span>
                        <ng-template #noCumpleCondicion><br><br></ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <p>
                Texto selecionado: {{selected}}
            </p>
        </div>
    </div>
</div>
