<!-- <a [routerLink]="['/audio/German/Karnaval']" [queryParams]="{ track: 2 }">German</a>
<br>
<a [routerLink]="['/audio/English/Show-White']" [queryParams]="{ }">English</a>
 -->

 <header class="wave-container">
    <div class="centered-text">
        <h1>Titulo del Header</h1>
        <p></p>
      </div>
 </header>  


 <div class="container mt-5">
    <main>
        <div class="row">
            <div class="col-md-12">
                <p>Bienvenido a nuestra aplicación de dictados, la herramienta perfecta para perfeccionar tus habilidades lingüísticas! Nuestra app te ofrece una experiencia única de aprendizaje, centrada en la práctica de escuchar y escribir en varios idiomas.</p>
    
                <h2>Cómo Funciona</h2>
                <p>¿Cómo funciona? Simple. Escucha atentamente los dictados en el idioma de tu elección y transcribe las palabras que escuchas. Este enfoque práctico te ayuda a mejorar tu comprensión auditiva, a expandir tu vocabulario y a perfeccionar tu ortografía.</p>
            
                <h2>Características Destacadas</h2>
                <ul>
                  <li><strong>Variedad de Idiomas:</strong> Elige entre una amplia gama de idiomas disponibles para personalizar tu experiencia de aprendizaje.</li>
                  <li><strong>Niveles de Dificultad:</strong> Adapta la dificultad de los dictados según tu nivel actual de habilidad lingüística.</li>
                  <li><strong>Retroalimentación Instantánea:</strong> Recibe retroalimentación inmediata sobre tus transcripciones para aprender de tus errores y mejorar constantemente.</li>
                  <li><strong>Práctica en Cualquier Momento:</strong> Accede a la aplicación en cualquier momento y lugar para practicar escuchar y escribir de manera conveniente.</li>
                </ul>
            
                <p>¡Descarga nuestra app ahora y lleva tus habilidades lingüísticas al siguiente nivel!</p>
            </div>            
          </div>        
      </main> 
  </div>