/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-family: 'Arial', sans-serif;